/*Ильичев Илья*/
body {
	background-image: url(Pictures/Forest.jpg);
	background-repeat: no-repeat;
	background-size: 1920px;
	margin-left: 120px;
}
.i {
	border-radius: 5px;
	margin: 5px;
}
.block {
	background-color: #EDEDED;
	border-radius: 5px;
	width: 200px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	transition: all ease 1s;
	box-shadow: 8px 8px 7px black;
}
.block:hover {
 	background-color: white;
 	padding: 10px;
}
p {
	font-family: fantasy;
	color: #3B3B3B;
	padding-bottom: 10px;
}
.main {
	margin-left: 380px;
	margin-top: 140px;
	width: 1680px;
}
a {
	text-decoration: none; 
}
.best {
	font-family: cursive;
	color: white;
	font-size: 72px;
	padding-left: 560px;
	width: 1680px;
}

