/*Ильичев Илья*/
body {
	background-image: url(Pictures/River.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 1920px;
	margin-left: 120px;
}
.head {
	font-family: fantasy;
	font-size: 42px;
	padding-top: 10px;
	padding-left: 370px;
	padding-bottom: 10px;
}
.main {
	background-color: rgba(255,255,255,0.5);
	border-radius: 12px;
	padding-left: 10px;
	width: 1200px;
	margin-left: 228px;
	border: 1px solid black;
	margin-top: 100px;
}
img {
	padding-left: 30px; 
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}
.Text {
	border-top: 1px solid black;
	margin-right: 100px;
	margin-left: 100px;
	height: 140px;
}
.t {
	font-family: fantasy;
	font-size: 24px;
	padding-top: 30px;
	float: left;
	padding-left: 40px;
}
.iText {
	margin-right: 100px;
	margin-left: 100px;
	height: 140px;
}
.money {
	font-family: sans-serif;
	font-size: 20px;
	padding-top: 40px;
	padding-right: 10px;
	float: right;
}
.bay {
	background-color: #4285F4;
	padding: 10px;
	color: white;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 15px;
	border: none;
	transition: all ease 0.3s;
	cursor: pointer;
	float: right;
	margin-top: 50px;
}
.bay:hover {
	background-color: #0F9D58;
	padding-left: 28px;
	padding-right: 28px;
	font-size: 18px;
}